body {
    background-color: #9CDB95;
    color: #375683;
    font-size: 25px;
    font-family: "Courier";
    font-weight: lighter;
    margin: 0;
}
/*divs*/
.header {
    width: 100%;
    padding: 15px;
    font: bold 100px serif;
    background: #389683;
    color: #05386B;
    text-align: center;
}

.wrap {
    justify-content: center;
    display: flex;
    border: 2px solid #389683;
}
.main {
    background: #D8C3A5;
    margin: 50px;
    padding: 30px;
    width: 60%;
    line-height: 35px;
    border: 2px solid #389683;
}

.sidebar {
    width: 20%;
    height: 100%;
    background: #AFD275;
    padding: 30px;
    text-align: center;
    line-height: 50px;
    margin: 50px;
    border: 2px solid;
}

.footer {
    padding: 50px;
    float: right;
}

a {
    color: #5D5C61;
}

a:hover {
    color: #05386B;
}

/*images*/
img {
    width: 40%;
    border: 2px solid;
}
.logo {
    border: 0;
    width: 80px;
}

.products {
    float: right;
    margin: 7px 7px 7px 20px;
}

.cloud {
    float: left;
    margin: 7px 20px 7px;
}